@import url("/styles/normalize.css");

/*colores a utilizar:
  gris obscuro (fondo): #1F1F1F
  gris claro (fondo): #F2F2F2
  azul (enlace, formas): #2F80ED
  negro: #000
*/

.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/*start header block*/

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* parameters for the header section */
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}

.header__logo_place_header {
  position: absolute;
  width: 154px;
  height: 31px;
  margin-top: 30px;
  margin-left: 64px;
  z-index: 1;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  margin-top: 150px;
  z-index: 1;
}
.header__title-text {
  line-height: 96px;
  font-weight: bold;
  font-size: 102px;
}

.header__subtitle {
  position: absolute;
  line-height: 25px;
  font-weight: normal;
  font-size: 18px;
  width: 388px;
  z-index: 2;
  margin-bottom: 30px;
}

.header__subtitle-link {
  line-height: 25px;
  font-weight: normal;
  font-size: 18px;
}

.header__main-ilustration {
  position: absolute;
  width: 756px;
  height: 608px;
  z-index: 1;
  right: 0%;
  bottom: 0%;
}

.header__square {
  position: absolute;
  margin-top: 64px;
  right: 0%;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  z-index: 0;
}

/*--------------------------------------------start description block-----------------------------------------------------------*/
.description {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  min-width: 756px;
  margin-top: 100px;
  margin-left: 10%;
  width: 80%;
  flex-direction: row;
}

.description__two-columns {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.description__two-columns-brief {
  width: 175px;
}

.description__two-columns-brief-text {
  color: #2f80ed;
  line-height: 1.2;
  font-weight: normal;
  font-size: 18px;
  margin-top: 0px;
}

.description__two-columns-main-text {
  width: 80%;
  min-width: 784px;
}

.description__two-columns-paragraph {
  position: relative;
  bottom: 30px;
  line-height: 34px;
  font-weight: normal;
  font-size: 24px;
}

.description__two-columns-span-accent {
  line-height: 34px;
  font-weight: bold;
  font-size: 24px;
}

/*--------------------------------------------start digits block----------------------------------------------------------------*/

.digits {
  /*------*/
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.digits__section-title {
  align-self: center;
  width: 60%;
  height: auto;
  padding: auto auto 20px auto;
  line-height: 1.15;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
}

.digits__section-subtitle {
  align-self: center;
  width: 60%;
  padding: auto auto 60px auto;
  line-height: 34px;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
}

.digits__table {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  justify-content: space-between;
}

.digits__table-cell {
  width: 250px;
  margin-bottom: 60px;
}

.digits__table-cell-heading {
  line-height: 1.15;
  font-weight: bold;
  font-size: 24px;
  margin-top: 0%;
  margin-bottom: 20px;
}

.digits__table-cell-text {
  line-height: 1.2;
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 20px;
}

.digits__table-cell-text-final {
  margin-bottom: 0%;
}

/*--------------------------------------------start feynman block----------------------------------------------------------------*/

.feynman {
  background-color: #f2f2f2;
  height: 790px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feynman__title {
  z-index: 2;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 775px;
  margin-top: 100px;
  margin-bottom: 0%;
}

.feynman__subtitle {
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  top: 70px;
  width: 350px;
  z-index: 2;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  width: 130px;
  position: absolute;
  margin-top: 395px;
  right: 34px;
  z-index: 2;
}

.feynman__image {
  background-image: url("/images/feynman.png");
  width: 867px;
  height: 637px;
  position: absolute;
  z-index: 1;
  left: 0%;
  margin-top: 150px;
}

/*--------------------------------------------start kaufman block----------------------------------------------------------------*/
.kaufman {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kaufman__section-title_theme_dark {
  z-index: 1;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin-top: 90px;
  margin-bottom: 0%;
  text-align: center;
  width: 60%;
  color: #fff;
}

.kaufman__section-subtitle_theme_dark {
  z-index: 1;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  width: 60%;
  color: #fff;
}

.kaufman__table_theme_dark {
  z-index: 1;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 1100px;
  margin-bottom: 90px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  justify-content: space-between;
}

.kaufman__table-cell_theme_dark {
  margin-top: 80px;
  width: 200px;
  color: #fff;
}

.kaufman__table-heading_theme_dark {
  margin-top: 0px;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.kaufman__table-text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
}

.kaufman__triangle {
  overflow: hidden;
  position: absolute;
  right: -124px;
  margin-top: 0%;
  width: 660px;
  height: 636px;
}

/*--------------------------------------------start footer block----------------------------------------------------------------*/

.footer {
  border: 1px solid #000;
  background-color: #000;
  min-height: 350px;
}

.footer__column {
  margin-top: 60px;
  margin-left: 5%;
  display: flex;
  width: 90%;
  height: 250px;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__column_content_logo_place {
  width: 183px;
  height: 35px;
}

.footer__column_content_author {
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
}

.footer__column_content_about_column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

.footer__column_content_about_list {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
}

.footer__column_content_about_column-link {
  color: #fff;
  list-style: none;
  padding: 0%;
}

.footer__column_content_about_social-icons {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
